.yellow-bg{
  background: #FFFF7F;
  height: 4vh;
  width: 100%;
}
.blue-bg{
  width: 100%;
  background: #1E4072; 
} 
.email-page {
  padding-top: 2rem;
  height: 96vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.arr-back .arrow {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  margin-left: 1rem;
}
.email-name {
  font-size: 2rem;
  padding: 6rem 2rem;
  height: 10rem;
  width: 90%;
  margin-left: auto;
}
.email-input {
  width: 85%;
  height: 5rem;
  margin-left: auto;
  display: center;
  flex-direction: column;
}
.check-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  /* background: yellow; */
  background: grey;

}
.check-container {
  margin-top: 1.5rem;
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
}
.email-arr-forward {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}
.email-arr-container{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 40%;
}
@media(min-height: 736px){
  .email-arr-container{
    margin-top: 45%;
  }
  .email-name {
    height: 17rem;
  }
}
@media(max-width: 280px){
  .email-arr-container{
    margin-top: 60%;
  }
}

