.yellow-bg {
  background: #ffff7f;
  height: 4vh;
  width: 100%;
}
.blue-bg {
  /* height: 100%; */
  width: 100%;
  background: #1e4072;
}
.otp-page {
  margin-top: 2rem;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.arr-back .arrow {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  margin-left: 1rem;
}
.otp-name {
  font-size: 1.8rem;
  padding: 6rem 1.4rem;
  height: 20rem;
  width: 90%;
  margin-left: auto;
}
.otp-input {
  width: auto;
  height: 5rem;
  margin: auto;
  padding: auto;
  display: flex-center;
}
.otp-field {
  width: 38px;
  margin-right: 10px;
  padding-left: 12px;
  height: 40px;
  color: black;
}
.check-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background: grey;
}
.check-container {
  margin-top: 1.5rem;
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
}
.otp-arr-forward {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}
.otp-arr-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 15%;
}
@media (max-height: 568px) {
  .otp-name {
    /* padding: 2rem 1.4rem; */
    height: 15rem;
  }
  .otp-arr-container {
    margin-top: 30%;
  }
}
@media (min-height: 640px) {
  .otp-arr-container {
    margin-top: 30%;
  }
}
@media (min-height: 812px) {
  .otp-arr-container {
    margin-top: 40%;
  }
  .otp-name {
    font-size: 1.5em;
  }
}
@media (max-width: 360px) {
  .otp-name {
    height: 14rem;
    font-size: 1.4rem;
    padding: 3rem 1.4rem;
    /* background: pink; */
  }
}
@media (max-width: 280px) {
  .otp-name {
    height: 20rem;
  }
}
@media (min-width: 768px) {
  .otp-name {
    font-size: 2.5rem;
  }
}
