.yellow-bg{
  background: #FFFF7F;
  height: 4vh;
  width: 100%;
}
.blue-bg{
  width: 100%;
  background: #1E4072; 
} 
  
.password-page {
  padding-top: 2rem;
  height: 96vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.arr-back .arrow {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  margin-left: 1rem;
}
.password-name {
  font-size: 2rem;
  padding-top: 15%;
  height: 10rem;
  width: 90%;
  margin-left: auto;
}
.password-input {
  width: 88%;
  height: 5rem;
  font-size: 30px;
  margin-top: 10%;
  margin-left: auto;
}
.check-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background: grey;
}

.check-container {
  margin-top: 1.5rem;
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
}
.pw-arr-forward {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}
.pw-arr-container{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 35%;
}

@media(min-height: 653px){
  .pw-arr-container{
    margin-top: 45%;
  }
}
