.yellow-bg{
  background: #FFFF7F;
  height: 4vh;
  width: 100%;
}
.blue-bg{
  width: 100%;
  background: #1E4072; 
}
.phone-page {
  margin-top: 2rem;
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.arr-back .arrow {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  margin-left: 1rem;
}
.phone-name {
  font-size: 2rem;
  padding: 6rem 2rem;
  height: 20rem;
  width: 90%;
  margin-left: auto;
}
.phone-input {
  width: 85%;
  height: 5rem;
  margin-left: auto;
  flex-direction: column;
}
.check-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background: grey;
}

.phone-check-container {
  margin-top: 1.5rem;
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
}
.phone-arr-forward {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}
.phone-arr-container{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 5rem;
}
@media(min-height: 736px){
  .phone-arr-container{
    margin-top: 35%;
  }
}
@media(min-height: 568px){
  .phone-name {
    padding: 1rem 2rem;
    height: 15rem;
  }
}
@media(min-height: 640px){
  .phone-name {
    padding: 5rem 2rem;
    height: 15rem;
  }
  .phone-arr-container{
    margin-top: 35%;
  }
}